.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 150px 0 40px 0;
  line-height: 1.15;
  font: normal normal normal 25px/1.1 Helvetica, sans-serif;
}

.toggleButton {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 128px;
  height: 128px;
  cursor: pointer;
  top: 0;
  border: 1px solid #b21522;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  font: normal normal normal 20px/1.1 Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  white-space: pre;
  background: radial-gradient(
    closest-side at 50% 50%,
    #c91826,
    #c91826,
    #c91826,
    #c91826
  );
  background-repeat: no-repeat;
  background-position: 0 100%;
  -webkit-background-size: 158px 142px;
  background-size: 158px 142px;
  -webkit-box-shadow: 1px 16px 10px 5px rgba(0, 0, 0, 0.2), 0 14px 0 0 #000000,
    4px 8px 15px 4px rgba(0, 0, 0, 0.4),
    5px 1px 5px 0 rgba(255, 255, 255, 0.2) inset,
    5px -4px 5px 0 rgba(255, 255, 255, 0.2) inset,
    -2px 3px 6px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 16px 10px 5px rgba(0, 0, 0, 0.2), 0 14px 0 0 #000000,
    4px 8px 15px 4px rgba(0, 0, 0, 0.4),
    5px 1px 5px 0 rgba(255, 255, 255, 0.2) inset,
    5px -4px 5px 0 rgba(255, 255, 255, 0.2) inset,
    -2px 3px 6px 0 rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0 -1px 0 rgba(40, 40, 40, 0.6);
  -webkit-transition: all 40ms 0 cubic-bezier(0.6, -0.28, 0.735, 0.04);
  -moz-transition: all 40ms 0 cubic-bezier(0.6, -0.28, 0.735, 0.04);
  -o-transition: all 40ms 0 cubic-bezier(0.6, -0.28, 0.735, 0.04);
  transition: all 40ms 0 cubic-bezier(0.6, -0.28, 0.735, 0.04);
  -moz-transform: rotateX(35deg) scaleX(1) scaleY(1) scaleZ(1) translateY(15px)
    translateZ(40px);
  -webkit-transform: rotateX(35deg) scaleX(1) scaleY(1) scaleZ(1)
    translateY(15px) translateZ(40px);
  transform: rotateX(35deg) scaleX(1) scaleY(1) scaleZ(1) translateY(15px)
    translateZ(40px);
  outline: none;
}

.toggleButton:hover {
  background: -webkit-radial-gradient(
      50% 50%,
      ellipse closest-side,
      rgba(255, 255, 255, 0.28) 0,
      rgba(0, 0, 0, 0) 100%
    ),
    #a80008;
  background: -moz-radial-gradient(
      50% 50%,
      ellipse closest-side,
      rgba(255, 255, 255, 0.28) 0,
      rgba(0, 0, 0, 0) 100%
    ),
    #a80008;
  background: radial-gradient(
      50% 50%,
      ellipse closest-side,
      rgba(255, 255, 255, 0.28) 0,
      rgba(0, 0, 0, 0) 100%
    ),
    #a80008;
  -webkit-box-shadow: 1px 16px 10px 5px rgba(0, 0, 0, 0.2), 0 14px 0 0 #000000,
    4px 8px 15px 4px rgba(0, 0, 0, 0.4),
    5px 1px 5px 0 rgba(255, 255, 255, 0.2) inset,
    5px -4px 5px 0 rgba(255, 255, 255, 0.2) inset,
    -2px 2px 6px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 16px 10px 5px rgba(0, 0, 0, 0.2), 0 14px 0 0 #000000,
    4px 8px 15px 4px rgba(0, 0, 0, 0.4),
    5px 1px 5px 0 rgba(255, 255, 255, 0.2) inset,
    5px -4px 5px 0 rgba(255, 255, 255, 0.2) inset,
    -2px 2px 6px 0 rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 0 0 cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0 0 cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0 0 cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0 0 cubic-bezier(0.42, 0, 0.58, 1);
}

.toggleButton:active {
  position: relative;
  top: 6px;
  background: -webkit-radial-gradient(
      50% 50%,
      ellipse closest-side,
      rgba(255, 255, 255, 0.2) 0,
      rgba(0, 0, 0, 0) 100%
    ),
    #c60009;
  background: -moz-radial-gradient(
      50% 50%,
      ellipse closest-side,
      rgba(255, 255, 255, 0.2) 0,
      rgba(0, 0, 0, 0) 100%
    ),
    #c60009;
  background: radial-gradient(
      50% 50%,
      ellipse closest-side,
      rgba(255, 255, 255, 0.2) 0,
      rgba(0, 0, 0, 0) 100%
    ),
    #c60009;
  -webkit-box-shadow: 1px 5px 8px 4px rgba(0, 0, 0, 0.4), 0 7px 0 0 #000000,
    1px 2px 1px 1px rgba(0, 0, 0, 0.6),
    3px 1px 5px 0 rgba(255, 255, 255, 0.2) inset,
    3px -6px 5px 0 rgba(255, 255, 255, 0.2) inset,
    -1px 1px 4px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 5px 8px 4px rgba(0, 0, 0, 0.4), 0 7px 0 0 #000000,
    1px 2px 1px 1px rgba(0, 0, 0, 0.6),
    3px 1px 5px 0 rgba(255, 255, 255, 0.2) inset,
    3px -6px 5px 0 rgba(255, 255, 255, 0.2) inset,
    -1px 1px 4px 0 rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 40ms 0 cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 40ms 0 cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 40ms 0 cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 40ms 0 cubic-bezier(0.42, 0, 0.58, 1);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .toggleButton, .toggleButton:focus {
    box-shadow: 1px 16px 10px 5px rgba(255, 255, 255, 0.2), 0 14px 0 0 #000000,
    4px 8px 15px 4px rgba(255, 255, 255, 0.4),
    5px 1px 5px 0 rgba(255, 255, 255, 0.2) inset,
    5px -4px 5px 0 rgba(255, 255, 255, 0.2) inset,
    -2px 2px 6px 0 rgba(255, 255, 255, 0.2) inset;
  }
}